/* body {
  margin: 2% 2% 0 2%;
  font-family: "Dosis", sans-serif;
  color: #121213;
  font-size: 14px;
  line-height: 20px;
} */
.landingpage {
  position: relative;
  height: 85vh;
  padding: 0 5%;
  background-color: #c1c3cc;
  background-image: linear-gradient(
      76deg,
      rgba(193, 195, 204, 0.83) 35%,
      rgba(193, 195, 204, 0.28) 65%
    ),
    url(https://nuuk-e3eaa.firebaseapp.com/assets/img/slide-2.jpg);
}
.navbar {
  display: flex;
  justify-content: space-between;
  margin: 2% auto 0;
  background-color: #fff;
}
.logo {
  height: 110px;
  padding: 0 35px;
  background-color: #e47312;
}
.navigation_links {
  display: flex;
  justify-content: center;
  align-items: center;
}

.links {
  padding: 31px 14px;
  color: #414147;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 1px;
}

.btn1 {
  height: 100%;
  margin-left: 20px;
  padding: 34px 28px 31px;
  background-color: #e47312;
  transition: all 300ms ease;
  color: #fff;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 1px;
}

.btn1:hover {
  background-color: #e98a38;
}
