body {
  font-family: "Odibee Sans", cursive;
}
.li-item {
  font-size: 20px;
  padding: 0 40px 40px 40px;
  display: inline;
}

.navbar {
  border-bottom: 2px dashed;
  padding: 20px;
}

#title,
.navbar,
.place-title {
  text-align: center;
}

.places {
  display: inline-block;
  margin: 0 20px;
}

.places img {
  width: 100px;
  height: 100px;
}

table,
td,
th {
  border: 2px solid black;
  border-collapse: collapse;
  padding: 10px;
}

.bg_blue {
  background-color: rgba(63, 165, 200, 0.45);
  font-weight: bold;
}
